@page
@model dealership.Pages.cars.IndexModel

@{
    ViewData["Title"] = "Models";
}

<h1>Models</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>


<!--

Accordionsetup
-->

<div class="accordion accordion-flush" id="accordionVehicle">

    <!--Hatchback accordion-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-Hatchbacks">
            <button class="btn btn-light"
                    type="button" data-toggle="collapse"
                    data-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne">
                Hatchbacks
            </button>
        </h2>
        <div id="flush-collapseOne"
             class="accordion-collapse collapse"
             aria-labelledby="flush-Hatchbacks"
             data-parent="#accordionVehicle">
            <div class="accordion-body">
                <table class="table" id="HatchbackTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Name)
                            </th>
                            
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Count)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Description)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Vehicle)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!--Suv accordion-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-SUV">
            <button class="btn btn-light"
                    type="button"
                    data-toggle="collapse"
                    data-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo">
                SUVs
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-SUV" data-parent="#accordionVehicle">
            <div class="accordion-body">
                <table class="table" id="SUVTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Name)
                            </th>
                            
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Count)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Description)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Vehicle)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!--Bakkie accordion-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-Bakkie">
            <button class="btn btn-light"
                    type="button"
                    data-toggle="collapse"
                    data-target="#flush-collapseThree"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree">
                Bakkies
            </button>
        </h2>

        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-Bakkie" data-parent="#accordionVehicle">
            <div class="accordion-body">
                Placeholder content for this accordion.

                <table class="table" id="BakkieTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Name)
                            </th>
                            
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Count)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Description)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Vehicle)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Vans-->

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-Vans">
            <button class="btn btn-light"
                    type="button"
                    data-toggle="collapse"
                    data-target="#flush-collapseFour"
                    aria-expanded="false"
                    aria-controls="flush-collapseFour">
                Vans
            </button>
        </h2>

        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-Vans" data-parent="#accordionVehicle">
            <div class="accordion-body">
                <table class="table" id="VanTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Name)
                            </th>
                            
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Count)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Description)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Vehicle)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Sedans-->

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-Sedan">
            <button class="btn btn-light"
                    type="button"
                    data-toggle="collapse"
                    data-target="#flush-collapseFive"
                    aria-expanded="false"
                    aria-controls="flush-collapseFive">
                Sedans
            </button>
        </h2>

        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-Sedan" data-parent="#accordionVehicle">
            <div class="accordion-body">
                <table class="table" id="SedanTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Name)
                            </th>
                            
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Count)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Description)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Vehicle)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Commercial-->

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-Commercial">
            <button class="btn btn-light"
                    type="button"
                    data-toggle="collapse"
                    data-target="#flush-collapseSix"
                    aria-expanded="false"
                    aria-controls="flush-collapseSix">
                Commercial
            </button>
        </h2>

        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-Commercial" data-parent="#accordionVehicle">
            <div class="accordion-body">
                <table class="table" id="CommercialTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Count)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Description)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Vehicle)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>




</div>



<!--

Accordionsetup
-->
<!--

     <table class="table" id="vehicletable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Category)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Count)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle[0].Description)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Vehicle)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

     -->
